<h1 class="z-newservice">Editing Service</h1>

<%= render 'form' %>

<%#= link_to 'Show', @service %>
<br>
<div class="container">
<%= link_to 'Back', services_path,class: "btn btn-default btn-lg" %>
</div>