<div class="container">                     
    <div class="dt-sc-tabs-container animate animated fadeInLeft" data-delay="100" data-animation="animated fadeInLeft">
        <br /><br /><br />
        <h3 class="border-title">
            Services
        </h3>

        <p>
            BlackStone Security understands the market and we have devised a range of adaptable services to meet ever-changing demands. These include:
        </p>
        <div class="clear"></div>
        <ul class="dt-sc-tabs-frame">   
            <li><%= link_to security_path, class: "dt-sc-animation-eff1 " do %> SECURITY SERVICES <% end %></li>
            <li><%= link_to facilities_path, class: "dt-sc-animation-eff1 current" do %> FACILITIES SERVICES <% end %></li>
            <li><%= link_to reception_path, class: "dt-sc-animation-eff1" do %> RECEPTION SERVICES <% end %></li>
        </ul>                            
        <div class="dt-sc-tabs-frame-content" style="display: block;">
            <div class="">
                <p>
                    The management of your facilities is safe in our hands. Working with a comprehensive range of qualified partners we are able to provide a service package that will accommodate your needs which will in turn enable you to concentrate more on the things that you need to.
                </p>
            </div>
        </div>                            
    </div>
</div>