<div class="container">                     
    <div class="dt-sc-tabs-container animate animated fadeInLeft" data-delay="100" data-animation="animated fadeInLeft">
        <br /><br /><br />
        <h3 class="border-title"  style= "margin-top: 150px;">
            Apartment Security Guards Services
        </h3>
        <div class="clear"></div>
        <div class="dt-sc-tabs-frame-content" style="display: block;">
            <div class="col-md-7">
                <p>
                Robbery and other illegal activities are highly increased due to lack of security and careless at apartment locations. We mainly provide security services in Bangalore for apartments. We have truly reliable employees so now apartments and other office environments require our security services. We have fully trained security guards so we can provide 24/7 security services without any complaints.  Mostly apartments look big so thieves can easily rob the assets but our security guards help common people get rid from fear of robbing and our effective monitoring services will make you safe in effective manner. 
                </p>
            </div>
            <div class="col-md-5">
                <img src="<%= asset_url('a.jpg') %>" alt="" title="" />
            </div>
        </div>
    
</div>
<br><br><br><br>

     <div class="dt-sc-tabs-container animate animated fadeInLeft" data-delay="100" data-animation="animated fadeInLeft">
        <h3 class="border-title">
           Security Guard Service for Hotels
        </h3>
        <div class="clear"></div>
        <div class="dt-sc-tabs-frame-content" style="display: block;">
            <div class="col-md-7">
                <p>
                Robbery and other illegal activities are highly increased due to lack of security and careless at apartment locations. We mainly provide security services in Bangalore for apartments. We have truly reliable employees so now apartments and other office environments require our security services. We have fully trained security guards so we can provide 24/7 security services without any complaints.  Mostly apartments look big so thieves can easily rob the assets but our security guards help common people get rid from fear of robbing and our effective monitoring services will make you safe in effective manner. 
                </p>
            </div>
            <div class="col-md-5">
                <img src="<%= asset_url('a.jpg') %>" alt="" title="" />
            </div>
        </div>
 </div>
<br><br><br><br>
  <div class="dt-sc-tabs-container animate animated fadeInLeft" data-delay="100" data-animation="animated fadeInLeft">

        <h3 class="border-title">
            Security Guard Service for Schools/Educational Institutions

        </h3>
        <div class="clear"></div>
        <div class="dt-sc-tabs-frame-content" style="display: block;">
            <div class="col-md-7">
                <p>
                Robbery and other illegal activities are highly increased due to lack of security and careless at apartment locations. We mainly provide security services in Bangalore for apartments. We have truly reliable employees so now apartments and other office environments require our security services. We have fully trained security guards so we can provide 24/7 security services without any complaints.  Mostly apartments look big so thieves can easily rob the assets but our security guards help common people get rid from fear of robbing and our effective monitoring services will make you safe in effective manner. 
                </p>
            </div>
            <div class="col-md-5">
                <img src="<%= asset_url('a.jpg') %>" alt="" title="" />
            </div>
        </div>
</div>

<br><br><br><br>
 <div class="dt-sc-tabs-container animate animated fadeInLeft" data-delay="100" data-animation="animated fadeInLeft">
        <h3 class="border-title">
            Security Guard Service for Retail Business Premises

        </h3>
        <div class="clear"></div>
        <div class="dt-sc-tabs-frame-content" style="display: block;">
            <div class="col-md-7">
                <p>
                Robbery and other illegal activities are highly increased due to lack of security and careless at apartment locations. We mainly provide security services in Bangalore for apartments. We have truly reliable employees so now apartments and other office environments require our security services. We have fully trained security guards so we can provide 24/7 security services without any complaints.  Mostly apartments look big so thieves can easily rob the assets but our security guards help common people get rid from fear of robbing and our effective monitoring services will make you safe in effective manner. 
                </p>
            </div>
            <div class="col-md-5">
                <img src="<%= asset_url('a.jpg') %>" alt="" title="" />
            </div>
        </div>
    </div>
    </div>
    <div class="hr-invisible-medium"></div>
