<div class="container">
<h1 style="margin-top: 250px; color: #fff;">Editing Gallery</h1>

<%= render 'form' %>

<%#= link_to 'Show', @gallery %> 
<br>
<br>
<%= link_to 'Back', galleries_path, class: "btn btn-default" %>

</div>