/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */

@import "font-awesome";
@import "bootstrap-sprockets";
@import "bootstrap";
@import "toastr";
@import "responsive";
@import "bus";


.z-service{
	 color: #fff; 
	 font-size: 20px;
}

input[type="text"], input[type="password"], input[type="email"], input[type="url"], input[type="tel"], input[type="number"], input[type="range"], input[type="date"], textarea, input.text, input[type="search"] {
    background: #353737;
    color: #fff;
    padding: 12px;
    display: block;
    font-size: 13px;
    margin: 0px 0 20px;
    width: 100%;
    box-sizing: border-box;
    position: relative;
    min-height: 41px;
}
.z-show{
    display: block;
    padding: 4px;
    margin-bottom: 20px;
    line-height: 1.428571429;
    background-color: #2c2d2d;
    border: 1px solid #ddd;
    border-radius: 4px;
    -webkit-transition: border 0.2s ease-in-out;
    -o-transition: border 0.2s ease-in-out;
    transition: border 0.2s ease-in-out;
}
h3.border-title.z-business {
    text-align: -webkit-center;
}


@media only screen and (min-width: 400px) and (max-width: 700px) {
.z-media{
        position: relative;
    left: -200px; 
    box-sizing: border-box;
     width: 700px!important;
}
.z-res{
    margin-top: 80px;
}
.alter_color {
    color: #fff;
    margin-left: 0px !important;
     margin-top: 10px!important; 
    letter-spacing: 23px;
}
}
