<div class="fullwidth-section dt-sc-parallax-section dt-sc-client-testimonial">
  <div class="fullwidth-bg">
   <div class="container">
    <h2 class="border-title aligncenter animate" data-delay="100" data-animation="animated fadeInDown">
      OUR HAPPY Clients
    </h2>
    <div class="dt-sc-testimonial-carousel-wrapper" style="color: #fff;">
      <div class="col-md-6">
      <ul>
        <li><h4>Ramkrishna Hospital</h4></li>
        <li><h4>Saphire Honda</h4></li>
        <li><h4>Little Elly school</h4></li>
        <li><h4>Telerad RxDx Hospital</h4></li>
        <li><h4>Glentree Academy</h4></li>
        <li><h4>WOW School</h4></li>
        <li><h4>Hotel Mapple Express</h4></li>
        <li><h4>Golden Chariot Train - Karnataka Tourism </h4></li>
      </ul>
    </div>
    <div class="col-md-6">
      <ul>
        <li><h4>Hotel Signature Inn</h4></li>
        <li><h4>Hotel IV Sanctum</h4></li>
        <li><h4>Little Millenium School</h4></li>
        <li><h4>Angel Broking </h4></li>
        <li><h4>Hotel Grand Continent</h4></li>
        <li><h4>Metric Stream</h4></li>
        <li><h4>Hotel Inn @ Silicon Valley</h4></li>
      </ul>
    </div>
    <div class="hr-invisible"></div>
   </div>
  </div>
</div>
