<div class="fullwidth-section dt-sc-parallax-section dt-sc-client-testimonial">
  <div class="fullwidth-bg">
   <div class="container">
    <h2 class="border-title aligncenter animate" data-delay="100" data-animation="animated fadeInDown">
      Clients
    </h2>
    <div class="dt-sc-testimonial-carousel-wrapper">
      <% @testimonials.each do |testimonial| %>
       <div class="col-md-12">
        <div class="dt-sc-testimonial">
           <div class="author">
            <span class="hexagon2"></span> 
            <div class="hexagon-image">
             <div class="hexagon-in1">
              <div class="hexagon-in2 founder-image img1">
               <%= image_tag testimonial.image.url, alt: ""%>
             </div>
           </div>
         </div>
       </div>
       <div class="author-detail">
        <%= testimonial.name %>  <span> <%= testimonial.place %> </span>
       </div>
      </div>
    </div>
<% end %>
</div>
<div class="hr-invisible"></div>
</div>
</div>
</div>
